/* *{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
body{
    width:100%;
    height:100vh;
    background-image: url(https://files.smallpdf.com/files/204b9dc9a2984569871913eb645a4730-0001.jpg?name=204b9dc9a2984569871913eb645a4730-0001.jpg);
    background-position: center;
    background-size: cover;
} */

